{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            [... previous content ...]
            
            <!-- Learning Resources Section -->
            {% if tool.resources %}
            <div class="mt-4">
                <h4>Learning Resources</h4>
                <div class="list-group">
                    {% for resource in tool.resources|parse_json %}
                    <a href="{{ resource.url }}" target="_blank" 
                       class="list-group-item list-group-item-action">
                        <i class="fas fa-graduation-cap me-2"></i>
                        {{ resource.title }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
            [... rest of the existing tool.html content ...]
